@(userForm : Form[User])
		<form class="form-signin">
			<h2 class="form-signin-heading">Please sign in</h2>
 
    		<div class="controls">
    			<input type="text" class="form-control" id="inputLogin" placeholder="Login">
    		</div>
    		<br>
    		<div class="controls">
    			<input type="password" class="form-control" id="inputPassword" placeholder="Password">
    		</div>
    		
    		<div class="control-group">
    			<div class="controls">
    				<label class="checkbox">
    					<input type="checkbox"> Remember me
    				</label>
    				<button type="submit" class="btn btn-primary btn-signin-submit">Sign in</button>
    			</div>
    		</div>
		</form>
<script src="@routes.Assets.at("javascripts/script.js")" type="text/javascript"></script>
				