<div class="span6">
	<h1>KTwiter</h1>
</div>

<div id="id_navbar" class="navbar navbar-inverse span12 ">
	<div class="navbar-inner">
		<a class="brand" href="#">IPS Project</a>
		<ul class="nav">
			<li class="active">
				<a href="@routes.Application.index()">Home</a>
			</li>
			<li>
				<a class="btn-about" href="#">About</a>
			</li>
			<li>
				<a class="btn-contact" href="#">Contact</a>
			</li>
		</ul>
		<ul class="nav pull-right">
			<li>
				<a class="btn-admin" href="#">Admin</a>
			</li>
			<li>
				<a class="btn-signin" href="#">Sign in</a>
			</li>
			<li>
				<a class="btn-signup" href="#">Sign up</a>
			</li>
		</ul>
	</div>
</div>