<div class="span6"><h1>IPS Project</h1></div>
<div id="id_login" class="span5 pull-right">
	@members.signin()
</div>
<div id="id_navbar" class="navbar navbar-inverse span12 ">
	<div class="navbar-inner">
		<a class="brand" href="#">IPS Project</a>
		<ul class="nav">
			<li class="active"><a href="@routes.Application.index()">Home</a></li>
			<li><a href="@routes.CtrlMember.signup()">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
		<ul class="nav pull-right">
			<li><a class="btn-signup"href="#">Sign up</a></li>
		</ul>
	</div>
</div>