	
	
	<div class="container">
	<div class="row">
		<div class="col-md-4 well" style="padding-bottom:0">
            <form accept-charset="UTF-8">
				
                <textarea class="col-md-4 " id="ipt-message" name="ipt-message" placeholder="Type in your message" rows="5"></textarea>
				
                <h6 class="pull-right ">320 characters remaining</h6>
				
                <button class="btn btn-info btn-sbm-message" type="submit"></button>
            </form>
        </div>
	</div>
</div>