@(posts: List[Post])

<table class="table table-hover">	
	@for((post, i) <- posts.zipWithIndex) {
	<tr>
		<td class="span1">@post.getAutor.getLogin</td>
		<td class="btn-comment">
			<blockquote>
    		<p>@post.getContent</p>
    		<small class="pull-right"><cite title="Source Title">@post.getPostDate</cite></small>
    		<form class="hidden">
    			<input class="span8"placeholder="Write a comment...">
    			<button type="submit" class="btn btn-primary">Go !</button>
    		</form>
    		</blockquote>
		</td>
	</tr>
	}
</table>