@(login : String, posts:List[Post])
@main("KTwiter"){
<header class="row"> @mheader(login) </header>
<nav class="row">
	<form class="form-horizontal">
		<div class="input-group input-group-sm col-sm-8 col-sm-offset-2">
			<input type="text" class="form-control" id="inputPost" placeholder="What's on your mind?">
			<div class="input-group-btn">
    			<button class="btn btn-primary btn-post-submit">Post !</button>
  			</div>
		</div>
	</form>
</nav>
</br>
<section class="row">
	<article class="container col-md-8 col-md-offset-2" id="div_posts">
		 @listposts(posts)
	</article>
</section>
<footer class="row"> </footer>
}